.frend{
    margin-top: -100px;
}
.s{
    margin-left: 80px;
}

@media only screen and (max-width: 1200px) {
    .frend{
        margin-top: 0px;
    }
  }

  @media only screen and (max-width: 540px) {
    .ab-1{
        flex-direction: column-reverse !important;
    }
  }