.btn-primary{
    background-color: #24478F !important;
  }
  .logo{
    width: 40px;
  }
  .footer-1{
    width: 80%;
  }
  .content{
    width: 250px;
  }
  .Devwares{
    font-weight: 600;
  }
  .lis{
    list-style: none; 
    cursor: pointer;
  }
  .f-1{
   margin-top: auto;
  }
  
  .p-1:hover{
  background-color: #fff !important;
  color: #24478F;
  }
  .s-1{
    border: 2px solid var(--text-blue-900);
    border-radius: 0px 10px 10px 0px; 
  }
  .ss-2{
    border: 2px solid var(--text-blue-700);
    border-radius:  10px 0px 0px 10px !important;
  }
  
.dropdown-menu{
    margin-top: 5px !important;
    
}
.profile{
    width: 30% !important;
    margin-right: 10px !important;
    
}
#profiles{
    width: 25%;
    border-radius: 50%;
    margin-right: 10px;
}
.btn-group{
    margin-left: 65px;
    border: 2px solid var(--text-black-900);
    border-radius: 10px 10px 10px 10px; 
}
