:root{
  --bg-dimwhite-900:#F5F5F5;
  --bg-gray-100:#333333;
  --bg-black-50: #000000;
  --text-blue-900:#24478F;
  --text-blue-700:#4D7CD3;
  --text-white-300: #F5F5F5;
  --bg-lightgray-700: rgba(217, 217, 217, 0.2);

}